*{
  font-family: Helvetica;
}
body{
  padding: 15px;
  border-radius: 10px;
  max-width: 700px;
  margin: 20px auto;
  box-shadow: 0 0 10px #00000050;
}
.hide{
  display: none;
}
#posts-container > div{
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
}
a, input[type="submit"]{
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  opacity: .7;
  font-size: 1em;
  border: none;
  cursor: pointer;
}
a:hover, input[type="submit"]{
  opacity: 1;
}

/* post */
form{
  width: 300px;
}
form div{
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}
form label{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
form input, form textarea{
  margin-top: .3em;
  padding: 5px;
}